@page "/"
@using ObjectManagementSystemFrontend.Models;
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<CascadingValue Value=@objects>
    <CascadingValue Value="@relationships">
        <div class="stack-horizontal" style="display: flex;">
                <GraphComponent @ref="graphVisualizer" />
            <div style="height: 600px; width: 700px;">
                <div style="height: 300px; width: 700px;">
                    <ObjectListComponent @ref="objectListComponent"/>
                </div>
                <div style="height: 300px; width: 700px;">
                    <SelectedObjectComponent @ref="selectedObjectComponent" />
                </div>
            </div>
        </div>
    </CascadingValue>
</CascadingValue> 