@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@using ObjectManagementSystemFrontend.Models;
@inject HttpClient Http
@inject IConfiguration Configuration

@inject IWebAssemblyHostEnvironment HostEnvironment

<PageTitle>Object Management System</PageTitle>

<p>Environment: @HostEnvironment.Environment</p>

<CascadingValue Value=@objects>
    <CascadingValue Value="@relationships">
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0">
            <GraphComponent @ref="graphVisualizer" />
            <RadzenStack Orientation="Orientation.Vertical" Gap="0">
                <ObjectListComponent @ref="objectListComponent" />
                <SelectedObjectComponent @ref="selectedObjectComponent" />
            </RadzenStack>
        </RadzenStack>
    </CascadingValue>
</CascadingValue> 
