<h3>Objects & Relationships</h3>

<!-- Display the Diagram with nodes and links -->
<div style="height: 600px; width: 800px;">
	<CascadingValue Value="Diagram">
		<DiagramCanvas></DiagramCanvas>
	</CascadingValue>
</div>                