::deep .rz-grid-table td, .rz-grid-table th {
    padding: 0 10px 0 10px;
}

::deep .rz-cell-data {
    line-height: 1;
}

::deep .rz-card {
    padding: 4px;
}

::deep .rz-textarea {
    padding: var(--rz-text-area-padding);
    height: auto;
    resize: none;
}